@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
       
img {
    float: center; 
    width: 5%; 
}

#perfil {
    float: right; /* flota el div a la derecha */
    width: 45%; /* ocupa el 45% del ancho de la página */
    padding: 0px; 
}

#info_contacto {
    float: left; /* flota el div a la izquierda */
    width: 45%; /* ocupa el 45% del ancho de la página */
    padding: 0px; 
}

#exp_profesional {
    float: left; 
    width: 90%; 
    padding: 20px; 
}

#skills {
    clear: both; /* limpia los flotamientos anteriores */
    float: left; /* flota el div a la izquierda */
    width: 45%; 
    padding: 20px; 
}
